POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=replace_with_strong_password

DB_NAME=kittygram
DB_USER=kittygram_user
DB_PASSWORD=replace_with_strong_password
DB_HOST=db
DB_PORT=5432

SECRET_KEY=replace_with_long_random_django_secret_key
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,kittygram.example.com
CSRF_TRUSTED_ORIGINS=https://kittygram.example.com

DOCKERHUB_USERNAME=your_dockerhub_username
